<table class="table" *ngIf="accounts">
  <thead>
    <tr>
      <th scope="col">Account #</th>
      <th scope="col">Account Balance</th>
      <th scope="col">Account Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <th scope="row">{{account.id}}</th>
      <td>{{account.accountBalance}}</td>
      <td>{{account.accountType}}</td>
    </tr>
  </tbody>
</table>
