<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
  <label>
    Account Number(Id):
    <input type="text" formControlName="id" class="form-control">
  </label>
  <br>
  <label>
    Account Balance:
    <input type="text" formControlName="accountBalace" class="form-control">
  </label>
  <br>
  <label>
    Account Type:
    <input type="text" formControlName="accountType" class="form-control">
  </label>
  <br>
  <input type="submit" value="Create Account" class="btn btn-success">
</form>

