
<div class="container-fluid">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Dizari Bank</a>
  </nav>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/">View Accounts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/create-account">Create Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="#">Transactions</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>